{
	"-n" : 1000,
	"-i" : 2000,
    "objects" : [
	{
	    "type" : "sine",
	    "row" : 500,
	    "col" : 200,
	    "start" : 0,
	    "duration" : 500,
	    "period" : 20,
	    "amplitude" :10
	},
	{
	    "type" : "sine",
	    "row" : 500,
	    "col" : 800,
	    "start" : 0,
	    "duration" : 500,
	    "period" : 20,
	    "amplitude" :10
	},
	{
	    "type" : "rectobstacle",
	    "row" : 395,
	    "col" : 250,
	    "height" : 100,
	    "width" : 5
	},
	{
	    "type" : "rectobstacle",
	    "row" : 505,
	    "col" : 250,
	    "height" : 100,
	    "width" : 5
	}
    ]
}
