{
	"-n" : 500,
	"-i" : 2000,
    "objects" : [
	{
	    "type" : "sine",
	    "row" : 100,
	    "col" : 100,
	    "start" : 0,
	    "duration" : 500,
	    "period" : 20,
	    "amplitude" :10
	},
	{
	    "type" : "rectobstacle",
	    "row" : 70,
	    "col" : 150,
	    "height" : 25,
	    "width" : 5
	},
	{
	    "type" : "rectobstacle",
	    "row" : 105,
	    "col" : 150,
	    "height" : 25,
	    "width" : 5
	}
    ]
}
